body{
    background-color: rgb(122, 226, 192);
    color: rgb(82, 14, 146);
    font-family: serif
}
h1 {
    text-align: center;
    font-size: 45px;
}
nav {
    background-color:darkslateblue;
    padding: 20px;
}
nav ul {    
    text-align: right;
}
nav li {
    display: inline-block;
    color: rgb(13, 218, 150);
    font-size: 20px;
    padding: 5px;
    font-family: cursive
}