body {
    background-color: aquamarine;
    color: darkblue;
    font-family: cursive;
}
h1 {
    padding: 5px;
}
nav {
    background-color:darkslateblue;
    padding: 20px;
}
nav ul {    
    text-align: right;
}
nav li {
    display: inline-block;
    color: rgb(13, 218, 150);
    font-size: 20px;
    padding: 5px;
    font-family: cursive
}